In [3]:
#TrumpVsElon Twitter Naive Bayes

import pandas as pd
import numpy as np
import nltk
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.feature_extraction.text import TfidfTransformer

In [4]:
df = pd.read_csv("combinedTweets2.csv")
df.drop(['elon'],axis=1,inplace=True)

In [5]:
df.columns = ['labelTrump','message']

In [6]:
df.head()

   labelTrump                                            message
0           1  Big win by @Yankees last night to take control...
1           1  Wednesday's debate is day one of the election....
2           1  In Nov. '11 Al Qaeda's flag flew over the 'bir...
3           1  Glad to hear @SethMacFarlane will be hosting t...
4           1  A clip from @KatieShow where I take @katiecour...

In [7]:
#lowercase
df['message'] = df.message.map(lambda x: x.lower())

In [8]:
#remove any punctuation
df['message'] = df.message.str.replace('[^\w\s]', '')

In [9]:
df.head()

   labelTrump                                            message
0           1  big win by yankees last night to take control ...
1           1  wednesdays debate is day one of the election o...
2           1  in nov 11 al qaedas flag flew over the birthpl...
3           1  glad to hear sethmacfarlane will be hosting th...
4           1  a clip from katieshow where i take katiecouric...

In [10]:
df['message2'] = df['message'].apply(nltk.word_tokenize)  
df.drop(['message'],axis=1,inplace=True)
df.columns = ['labelTrump', 'message']

In [11]:
df.head()

   labelTrump                                            message
0           1  [big, win, by, yankees, last, night, to, take,...
1           1  [wednesdays, debate, is, day, one, of, the, el...
2           1  [in, nov, 11, al, qaedas, flag, flew, over, th...
3           1  [glad, to, hear, sethmacfarlane, will, be, hos...
4           1  [a, clip, from, katieshow, where, i, take, kat...

In [12]:
stemmer = PorterStemmer()
df['message'] = df['message'].apply(lambda x: [stemmer.stem(y) for y in x])  
df['message'] = df['message'].apply(lambda x: ' '.join(x))

In [13]:
df.head()

   labelTrump                                            message
0           1  big win by yanke last night to take control of...
1           1  wednesday debat is day one of the elect over 7...
2           1  in nov 11 al qaeda flag flew over the birthpla...
3           1  glad to hear sethmacfarlan will be host thi ye...
4           1  a clip from katieshow where i take katiecour a...

In [27]:
count_vect = CountVectorizer()  
counts = count_vect.fit_transform(df['message'])

In [21]:
transformer = TfidfTransformer().fit(counts)
counts = transformer.transform(counts)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(counts, df['labelTrump'], test_size=0.4, random_state=69)

In [23]:
model = MultinomialNB().fit(X_train, y_train)

In [24]:
predicted = model.predict(X_test)
model.score(X_test,y_test)

0.94109589041095887

In [25]:
print(confusion_matrix(y_test, predicted))

[[ 992  104]
 [  25 1069]]